/*== Estilos_Universales ==*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color1:#f27a9e;
    --color2:#f2c35b;
    --color3:#70d5f2;
    --color4: #f3e5d8;
    --color5:#2b1e0d;
}


/*== Tipografías ==*/

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Lilita One', sans-serif;*/

:root {
	font-size: 20px; /* MEDIDA BASE: 20px = 1rem */
}

h1 {
	font-family: 'Lilita One', sans-serif;
	font-size: 3rem;
	line-height: 4.5rem;
}

.p-content{
	font-size: 1.5rem;
	line-height: 2.25rem;
    font-family: 'Roboto', sans-serif
}

/* == HIPERVÍNCULOS == */


header{
    background-color: var(--color1);
}

main .container-02{
    background: url(./assets/imgs/guys.jpg);
}